<input id="pac-input" class="controls" type="text" placeholder="Location">
    <div id="map-canvas"></div>

    <div id="menu-container">
      <!-- <div id="question">
        Do you like peanuts?
      </div> -->
      <div id="recommendation-container">
        <div id="recommendation-title">Meals for you in Boston, MA...</div>

        <div class="meal">
          <p>Pad Thai @ Pepper's Sky <span class="price">$10.95</span></p>
          <p class="description">Rice noodles wok fried with egg, chicken, shrimp, crushed peanuts, bean sprouts, lime juice, fish sauce and tamarind juice. This is the ultimate street stall food.</p>
        </div>

        <hr>

        <div class="meal">
          <p>Mango Salad with Cashews @ Pepper's Sky <span class="price">$10.95</span></p>
          <p class="description">Tangy shredded green mango salad tossed in spicy lime juice, onion, herbs and cashews. Hot and spicy.</p>
        </div>

        <hr>

        <div class="meal">
          <p>Beef Salad Grilled Beef @ Pepper's Sky <span class="price">$11.95</span></p>
          <p class="description">Sliced charcoal grilled beef tenderloin in spicy lime juice, pepper, mushrooms, cucumber, tomato, herbs and mint leaves. Hot and spicy.</p>
        </div>

        <hr>

        <div class="meal">
          <p>Pad Thai @ Pepper's Sky <span class="price">$10.95</span></p>
          <p class="description">Rice noodles wok fried with egg, chicken, shrimp, crushed peanuts, bean sprouts, lime juice, fish sauce and tamarind juice. This is the ultimate street stall food.</p>
        </div>

        <hr>

        <div class="meal">
          <p>Pad Thai <i>@ Pepper's Sky <span class="price">$10.95</span></i></p>
          <p class="description">Rice noodles wok fried with egg, chicken, shrimp, crushed peanuts, bean sprouts, lime juice, fish sauce and tamarind juice. This is the ultimate street stall food.</p>
        </div>

        <hr>

        <div class="meal">
          <p>Pad Thai @ Pepper's Sky <span class="price">$10.95</span></p>
          <p class="description">Rice noodles wok fried with egg, chicken, shrimp, crushed peanuts, bean sprouts, lime juice, fish sauce and tamarind juice. This is the ultimate street stall food.</p>
        </div>

        <hr>

        <div class="meal">
          <p>Pad Thai @ Pepper's Sky <span class="price">$10.95</span></p>
          <p class="description">Rice noodles wok fried with egg, chicken, shrimp, crushed peanuts, bean sprouts, lime juice, fish sauce and tamarind juice. This is the ultimate street stall food.</p>
        </div>

      </div>
    </div>