{{#if username}}

    {{> nav}}

    {{> map}}

    {{> menu}}
    
    {{> question}}

{{else}}

    <div id="login-container">

        <div id="login-title">
            menyou
        </div>
        <div id="login-subtitle">
            The <span class="green">menu</span> for <span class="green">you</span>.
        </div>
        <div>
            Please log in to continue.
        </div>
        
        <div id='form'>
          <input id="username-input" type='text' name='username' placeholder='username'><br>
          <input id="password-input" type='password' name='password' placeholder='password'>
        </div>

        <div id='register'>
          <a>Register</a>
        </div>

        <div id='login'>
          <a>Log In</a>
        </div>

    </div>

{{/if}}
