<div id="profile-container">
  <div id="username">
    Ben Bitdiddle
  </div>
  <div id="likes-container">
    <h3 class="section-title">Likes</h3>
    <hr>
    <input id="likes-input" type="text">
    <button>Add</button>
  </div>
  <div id="dislikes-container">
    <h3 class="section-title">Dislikes</h3>
    <hr>
    <input id="dislikes-input" type="text">
    <button>Add</button>
  </div>
  <div id="restrictions-container">
    <h3 class="section-title">Dietary Restrictions</h3>
    <hr>

    <table id="allergies">
      <tr>
        <th>Y/N</th>
        <th>Allergies:</th>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Egg</td>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Fish</td>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Milk</td>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Peanut</td>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Tree Nut</td>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Shellfish</td>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Soy</td>
      </tr>
      <tr>
        <td><input type=checkbox></td>
        <td>Wheat</td>
      </tr>
    </table>

  </div>
</div>