
<footer>
  Created by <span class="footer1">Danielle Man</span>, <span class="footer2">Ryan Chipman</span>, <span class="footer3">Harihar Subramanyam</span>, and <span class="footer4">Tawanda Zimuto</span> &middot; MIT 6.170 Software Studio &middot; Fall 2014
</footer>

