
<!-- Dish Recommendations-->
<div id="menu-container">
  <div id="recommendation-container">
    <div id="recommendation-title">Meals for you in {{location}}</div>

    {{#each dishes}}

      {{> dish}}

    {{/each}}

  </div>
</div>
