
<!-- Dish Recommendations-->
<div id="menu-container">
  <div id="recommendation-container">
    <div id="recommendation-title">
      {{#if username}}
        Dishes for <span class="blue">you</span> in {{location.city}}
      {{else}}
        Log in for personalized meal recommendations!
      {{/if}}
    </div>

    {{#each dishes}}
      {{> dish}}
    {{/each}}

  </div>
</div>
