
<nav>
  <div id="logo">
    menyou
  </div>

  {{#if username}}

    <div>
      <a id="logout" class="nav-link">Log Out</a>
    </div>
    <div>
      <a id="profile" class="nav-link">Profile</a>
    </div>

  {{else}}

    <div id='login' class="nav-link">
      <a>Log In</a>
    </div>
    <div id='register' class="nav-link">
      <a>Register</a>
    </div>
    <div id='form'>
    <input id="password-input" class="nav-link" type='password' name='password' placeholder='password'>
      <input id="username-input" class="nav-link" type='text' name='username' placeholder='username'>
    </div>

  {{/if}}
</nav>
