
<nav>
  <div id="logo">
    menyou
  </div>

  {{#if username}}
    <div id="recommendations">
      <a>Recommend Dishes</a>
    </div>
    <div id="profile">
      <a>My Profile<a>
    </div>
    <div id="logout">
      <a>Log Out</a>
    </div>

  {{else}}

    <div id='form'>
      <input type='text' name='username' placeholder='username'>
      <input type='password' name='password' placeholder='password'>
    </div>
    <div id='login'>
      <a>Log In</a>
    </div>
    <div id='register'>
      <a>Register</a>
    </div>

  {{/if}}
</nav>
