<nav>
  <div id="logo">
    menyou
  </div>
  <div>
    <a id="profile" class="nav-link">Profile</a>
  </div>
  <div>
    <a id="logout" class="nav-link">Log Out</a>
  </div>

	<div style="float:left; position:relative; left:50%">
		<div style="float:left; position:relative; left:-50%">
			<button id="recommend-btn" class="nav-link" style="float: left; display: none">Recommend Nearby</button>
		</div>
	</div>

</nav>
