  <div id="question_div" class="question_div">
    <button class="close_button">&times</button>
    <h4 id="question_text" class="question_text">What are your thoughts on ...?</h4>
    <button class="answer_button answer_1">I like it</button>
    <button class="answer_button answer_2">I don't mind it</button>
    <button class="answer_button answer_3">I don't like it</button>
    <button class="answer_button answer_4">I hate it</button>
  </div>
