#menu-container {
	width: 465px;
	height: calc(100% - 52px);
	right: 0px;
	position: absolute;
	top: 52px;
	overflow: scroll;
}

#recommendation-container {
	padding: 10px;
	margin: 10px;
	
	#recommendation-title {
		font-weight: 300;
		font-size: 20px;
		text-align: center;
	}
	
	hr {
		margin-top: 10px;
	}
}

.selected {
	background-color: beige;
	border: 1px solid green !important;
	
	&:hover {
		background-color: #fffbf0 !important;
	}
}

.meal {
	margin: 10px 5px 10px 5px;
	padding: 5px;
	border: 1px solid #ccc;
	transition: .25s;

	&:hover {
		background-color: #ececec;
		transition: .25s;
		cursor: pointer;
	}

	p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.description {
		font-size: 13px;
		margin-left: 10px;
		color: #909090;
	}
	
	.name {
		font-weight: 400;
	}

	.price {
		font-size: 13px;
		font-style: italic;
		float: right;
	}
	
	.restaurant {
		color: green;
		font-style: italic;
	}
}
