#menu-container {
	width: 465px;
	height: calc(100% - 52px);
	right: 0px;
	position: absolute;
	top: 52px;
	overflow: scroll;
	background-color: beige;
}

#recommendation-container {
	padding: 10px;
	margin: 10px;
	
	#recommendation-title {
		font-weight: 300;
		font-size: 20px;
	}
	
	hr {
		margin-top: 10px;
	}
}

.meal {
	margin: 10px 5px 10px 5px;
	padding: 5px;

	&:hover {
		background-color: #f7f7e3;
	}

	p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.description {
		font-size: 13px;
		margin-left: 10px;
		font-family: 'Lora';
		font-weight: 400;
	}
	
	.name {
		font-weight: 400;
	}

	.price {
		font-size: 13px;
		font-style: italic;
		float: right;
	}
	
	.restaurant {
		color: green;
		font-style: italic;
	}
}
