
#menu-container {
	width: 465px;
	height: calc(100% - 52px);
	right: 0px;
	position: absolute;
	top: 52px;
	overflow: scroll;
	background-color: #FCFCF6;
}

#question {
	border: 1px solid pink;
	padding: 10px;
	margin: 10px;
}

#recommendation-container {
	padding: 10px;
	margin: 10px;
}

#recommendation-title {
	font-weight: 400;
	font-size: 20px;
}

.meal {
	margin: 10px 5px 10px 5px;
	padding: 5px;
	border-radius: 4px;

	&:hover {
		background-color: #f7f7e3;
	}

	p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.description {
		font-size: 13px;
		margin-left: 10px;
		font-style: italic;
	}

	.price {
		font-size: 13px;
		font-style: italic;
		float: right;
	}
}
