footer {
    color: #828282;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 15px;
    transition: .5s;
    
    &:hover {
        .footer1 { color: blue; transition: .5s; }
        .footer2 { color: orange; transition: .5s; }
        .footer3 { color: green; transition: .5s; }
        .footer4 { color: red; transition: .5s; }
    }
}