nav {
	height: 40px;
	padding-bottom: 10px;
	border: 1px solid #ccc;
	width: 100%;
	background-color: white;

	div {
		display: inline;
	}
}

#profile {
	background-color: green;
	font-weight: 200;
	color: white;
	padding: 5px 10px;
	border-radius: 2px;
	margin-top: 10px;
	transition: .5s;
	
	&:hover {
		background-color: orange;
		transition: .5s;
	}
}

.nav-link {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	transition: .5s;
	
	&:hover {
		color: green;
		cursor: pointer;
		transition: .5s;
	}
}