nav {
	height: 40px;
	padding-bottom: 10px;
	border: 1px solid #ccc;
	width: 100%;
	background-color: white;

	div {
		display: inline;
	}
}

.nav-link {
	float: right;
	margin-top: 15px;
	padding-right: 15px;
	
	&:hover {
		color: green;
		font-weight: 400;
		cursor: pointer;
	}
}

#logo {
	font-size: 35px;
	margin-left: 20px;
	color: green;
	font-weight: 300;
	cursor: pointer;

	&:hover {
		color: black;
	}
}

#username-input {
}

#password-input {
}