
nav {
	height: 40px;
	padding-bottom: 10px;
	border: 1px solid #ccc;
	width: 100%;
	background-color: white;

	div {
		display: inline;
	}
}

#logo {
	font-size: 35px;
	margin-left: 20px;
	color: #5D8A31;
	font-weight: 300;
	cursor: pointer;

	&:hover {
		color: black;
	}
}

#login, #logout {
	position: absolute;
	right: 20px;
	top: 15px;
}

#register {
	position: absolute;
	right: 70px;
	top: 15px;
}

#profile {
	position: absolute;
	right: 100px;
	top: 15px;
}

#form {
	position: absolute;
	right: 140px;
	top: 15px;
}

#profile:hover, #login:hover,
#logout:hover, #register:hover, #recommendations:hover {
	color: #5D8A31;
	font-weight: 400;
	cursor: pointer;
}
