#profile-container {
    min-height: calc(90% - 52px);
    width: calc(100% - 80px);
    margin: 40px 40px 0px 40px;;
    background-color: #FCFCF6;
    text-align: center;
    border: 1px solid #ccc;
}

hr {
    width: 80%;
    margin: 0 auto;
}

#username {
    height: 70px;
    font-size: 50px;
    padding: 10px;
    font-weight: 200;
}

#likes-container {
    left: 5%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

#dislikes-container {
    left: 35%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

#restrictions-container {
    right: 5%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    // background-color: #f7f7e3;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

#allergies {
    text-align: left;
    margin: 0 auto;
}

#likes-input, #dislikes-input {
    width: calc(80% - 25px);
    max-width: 120px;
    height: 25px;
    left: 0;
    font-family: Lato;
    margin-top: 4px;
    font-weight: 200;
    font-size: 14px;
    padding-left: 5px;
}

#likes-add, #dislikes-add {
    border: 1px solid #5D8A31;
    border-radius: 0px;
    background-color: #5D8A31;
    height: 25px;
    font-family: Lato;
    color: white;
    font-weight: 300;
}

#likes-form, #dislikes-form {
    margin-bottom: 0px;
}

footer {
    color: #5D8A31;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left:0;
    margin: 0 auto;
}

td {
    font-weight: 300;
}

ul li .likes-remove, ul li .dislikes-remove {
    cursor: pointer;
    margin-left: 10px;
    color: #7a7a7a;
    font-weight: 100;
    visibility: hidden;
}

ul li:hover .likes-remove, ul li:hover .dislikes-remove {
    visibility: visible;
}

ul li:hover, ul li:hover {
    cursor: default;
}

#btn_profile_recommend {
  background-color: #5D8A31;
  border-radius: 0px;
  border: 1px solid #5D8A31;
  display:inline-block;
  cursor:pointer;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  font-weight: 300;
}