#profile-container {
    min-height: calc(90% - 52px);
    width: 90%;
    margin: 40px 40px 0px 40px;;
    background-color: #FCFCF6;
    text-align: center;
    border: 1px solid #ccc;
}

#username {
    height: 70px;
    font-size: 50px;
    padding: 10px;
    font-weight: 200;
}

#likes-container {
    left: 5%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    // background-color: #f7f7e3;
}

#dislikes-container {
    left: 35%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    // background-color: #f7f7e3;
}

#restrictions-container {
    right: 5%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    // background-color: #f7f7e3;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

#allergies {
    text-align: left;
    margin: 0 auto;
}

#likes-input, #dislikes-input {
    width: 80%;
    height: 25px;
}

#likes-add, #dislikes-add {
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #f7f7e3;
    height: 25px;
    font-family: Lato;
}

#likes-form, #dislikes-form {
    margin-bottom: 0px;
}

#footer {
    color: #a3a3a3;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    font-weight: 100;
    margin-top: 12px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left:0;
}