#profile-container {
    min-height: calc(90% - 52px);
    width: 90%;
    margin: 40px 5%;
    background-color: #FCFCF6;
    text-align: center;
    border: 1px solid #ccc;
}

#username {
    height: 70px;
    font-size: 50px;
    padding: 10px;
    font-weight: 200;
}

#likes-container {
    left: 5%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    // background-color: #f7f7e3;
}

#dislikes-container {
    left: 35%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    // background-color: #f7f7e3;
}

#restrictions-container {
    right: 5%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    // background-color: #f7f7e3;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

#allergies {
    text-align: left;
    right: auto;
    left: auto;
}

#likes-input, #dislikes-input {
    width: 80%;
    height: 25px;
}