.question_div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 180px;
  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid black;
  text-align: center;
}

.close_button {
  background: none;
  border: none;
  font-size: 10pt;
  float: right;
}

.answer_button {
  margin-bottom: 5px;
  background: none;
  border: 1px solid black;
  width: 200px;
  height: 20px;
  font-size: 10pt;
  font-weight: 300;
}
