@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic');
@import url('http://fonts.googleapis.com/css?family=Lora');

green = #5D8A31
beige = #fbf4de
blue = #39B3C5
orange = #e57c10
red = #e33e3e

@import 'partials/profile'
@import 'partials/map'
@import 'partials/dishes'
@import 'partials/nav'
@import 'partials/footer'
@import 'partials/login'
@import 'partials/question'
@import 'partials/loading'

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

hr {
  margin: 0px 0px 0px 0px;
  color: #7a7a7a;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 auto;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

/** ----------------------------------------------- **/

@media (min-width: 580px) {
	#pac-input {
		padding: 0 11px 0 13px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 300;
		text-overflow: ellipsis;
		width: 250px;
		position: absolute;
		top: 10px;
		left: 160px;
	    border: 1px solid #ccc;
	    border-radius: 2px 0 0 2px;
	    box-sizing: border-box;
	    height: 32px;
	    transition: .5s;
	    
	    &:focus {
	    	border-color: blue;
	    	transition: .5s;
	    	outline: none;
	    }
	}
	
	#menu-container {
		width: 465px;
		height: calc(100% - 52px);
		right: 0px;
		position: absolute;
		top: 52px;
	}
}

@media (min-width: 0px) {
	@media (max-width: 579px) {
		#pac-input {
			display: none;
		}
		
		#menu-container {
			width: 465px;
			height: calc(100% - 52px);
			right: 0px;
			position: absolute;
			top: 52px;
		}
	}
	@media (max-width: 465px) {
		#menu-container {
			width: 100%;
			height: calc(100% - 52px);
			right: 0px;
			position: absolute;
			top: 52px;
		}
		
		#recommendations {
			display: none;
		}
	}
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;

	label {
	    font-family: Lato;
	    font-size: 13px;
	    font-weight: 300;
	}
}

#logo {
    font-size: 35px;
    margin-left: 20px;
    color: green;
    font-weight: 300;
    cursor: pointer;
    transition: .5s;
    float: left;

    &:hover {
        color: black;
        transition: .5s;
    }
}
