html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

hr {
  margin: 0px 0px 10px 0px;
  color: #7a7a7a;
  border: 0;
  border-top: 1px solid #eee;
}

@import 'partials/profile'
@import 'partials/map'
@import 'partials/dishes'
@import 'partials/nav'

/** ----------------------------------------------- **/

@media (min-width: 805px) {
	#pac-input:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px;  /* Regular padding-left + 1. */
		margin-left: 20px;
		margin-right: 20px;
		width: 301px;
	}
	#pac-input {
		padding: 0 11px 0 13px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 300;
		text-overflow: ellipsis;
		margin-left: 20px;
		margin-right: 20px;
		width: 300px;
	}
	.pac-container {
		font-family: Lato;
	}
	#map-canvas {
		width: calc(100% - 465px);
		height: calc(100% - 52px);
		top: 52px;
		border-right: 1px solid #ccc;
	}
	#menu-container {
		width: 465px;
		height: calc(100% - 52px);
		right: 0px;
		position: absolute;
		top: 52px;
	}
}

@media (min-width: 0px) {
	@media (max-width: 804px) {
		#pac-input {
			display: none;
		}
		#menu-container {
			width: 465px;
			height: calc(100% - 52px);
			right: 0px;
			position: absolute;
			top: 52px;
		}
		#map-canvas {
			width: calc(100% - 465px);
			height: calc(100% - 52px);
			top: 52px;
			border-right: 1px solid #ccc;
		}
	}
	@media (max-width: 465px) {
		#map-canvas {
			display:;
		}
		#menu-container {
			width: 100%;
			height: calc(100% - 52px);
			right: 0px;
			position: absolute;
			top: 52px;
		}
	}
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;

	label {
	    font-family: Lato;
	    font-size: 13px;
	    font-weight: 300;
	}
}

